*{
    padding: 0px;
    margin: 0px;
    font-family: 'roboto','Poppins';
    font-weight: 500;
    box-sizing: border-box;
}
body{
    background: #262626;
}
.container{
    width: 400px;
    /* background: red; */
    padding: 30px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffff;
    border-radius: 10px;
}
.container p{
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 500;
}
.container input{
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    border: 2px solid #494eea;
    outline: 0px;
    margin: 10px 0 10px;
    border-radius: 5px;
}
.container button{
    width: 100%;
    height: 40px;
    outline: 0px;
    background: #494eea;
    border-radius: 5px;
    color: #ffff;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    font-weight: 500;
    margin: 10px 0;
}
#qrimg{
    margin-left: 60px;
    text-align: center;
}
.shake{
    animation-name: shake;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    /* border: 5px solid red; */
}
@keyframes shake {
    0%{
        transform: translateX(-3px);
    }
    25%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(3px);
    } 
    75%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-4px);
    }
}


/* https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=  qr code generator api */